In [1]:
%load_ext google.cloud.bigquery

In [2]:
#Import Libraries
import pydata_google_auth
from google.cloud import bigquery 
import os
import pandas as pd
import numpy as np 
import lightgbm as lgb
import datetime as dt

from sklearn.model_selection import TimeSeriesSplit
from sklearn.model_selection import GridSearchCV

from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score,precision_score,recall_score,f1_score

In [3]:
credentials = pydata_google_auth.get_user_credentials(['https://www.googleapis.com/auth/bigquery'],)
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = r"C:\Users\AKIHIKO\Desktop\デスクトップ\02 自己学習\09Github\課題\invertible-oath-356510-2e48ff451582.json"

# "Will it snow tomorrow?" - The time traveler asked
The following dataset contains climate information form over 9000 stations accross the world. The overall goal of these subtasks will be to predict whether it will snow tomorrow 13 years ago. So if today is 2022.02.15 then the weather we want to forecast is for the date 2009.02.16. You are suppsed to solve the tasks using Big Query, which can be used in the Jupyter Notebook like it is shown in the following cell. For further information and how to used BigQuery in Jupyter Notebook refer to the Google Docs. 

The goal of this test is, to test your coding knowledge in Python, BigQuery and Pandas as well as your understanding of Data Science. If you get stuck at the first part, you can use the replacement data provided in the second part

In [4]:
%%bigquery 
SELECT
*,
FROM `bigquery-public-data.samples.gsod`
LIMIT 20

Query complete after 0.00s: 100%|███████████████████████████████████████████████████| 1/1 [00:00<00:00, 1002.70query/s]
Downloading: 100%|███████████████████████████████████████████████████████████████████| 20/20 [00:01<00:00, 10.43rows/s]

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado
0,36010,99999,1929,11,14,42.000000,4,40.200001,4.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
1,37950,99999,1929,12,28,39.700001,4,38.299999,4.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
2,38560,99999,1930,6,29,58.500000,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
3,39730,99999,1930,5,26,54.000000,4,49.000000,4.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
4,36010,99999,1930,4,28,53.700001,4,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
5,39530,99999,1931,3,18,50.799999,4,47.400002,4.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
6,38640,99999,1931,5,17,51.500000,4,46.900002,4.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
7,726810,24131,1931,9,4,79.900002,24,39.000000,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
8,726810,24131,1931,12,2,18.500000,24,13.800000,8.0,NaN,...,NaN,None,0.0,NaN,True,True,True,True,True,True
9,726810,24131,1931,11,8,54.799999,24,32.200001,8.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
10,726810,24131,1931,1,29,33.900002,24,29.799999,6.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
11,103840,99999,1932,12,11,26.500000,4,25.000000,4.0,NaN,...,NaN,None,0.0,NaN,True,True,True,True,True,True
12,726810,24131,1932,1,4,25.100000,24,22.100000,8.0,NaN,...,NaN,None,NaN,NaN,True,True,True,True,True,True
13,726815,24106,1932,4,8,44.599998,24,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
14,726815,24106,1932,10,28,45.599998,24,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
15,726810,24131,1932,5,30,55.599998,24,41.900002,8.0,NaN,...,NaN,None,NaN,NaN,False,False,False,False,False,False
16,726810,24131,1932,12,6,28.799999,24,18.400000,6.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
17,726815,24106,1932,1,24,15.400000,24,NaN,NaN,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
18,726810,24131,1932,8,26,73.099998,24,41.599998,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False
19,726810,24131,1932,9,14,66.699997,24,35.099998,8.0,NaN,...,NaN,None,0.0,NaN,False,False,False,False,False,False

## Part 1

### 1. Task
Change the date format to 'YYYY-MM-DD' and select the data from 2005 till 2009 for station numbers including and between 725300 and 726300 , and save it as a pandas dataframe. Note the maximum year available is 2010.

In [5]:
client = bigquery.Client()

query_str = """
SELECT 
*,
concat(year,'-',month,'-',day) AS date,
FROM `bigquery-public-data.samples.gsod`
WHERE year between 2005 AND 2009
AND station_number between 725300 AND 726300
"""

df = client.query(query_str).to_dataframe()
display(df)

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado,date
0,725869,99999,2005,7,10,68.400002,5,50.700001,5.0,NaN,...,None,0.00,NaN,False,False,False,False,False,False,2005-7-10
1,725835,99999,2005,2,11,22.600000,5,16.500000,5.0,NaN,...,None,0.00,NaN,False,False,False,False,False,False,2005-2-11
2,725868,99999,2005,12,24,28.799999,5,27.700001,5.0,NaN,...,None,0.00,1.2,False,False,False,False,False,False,2005-12-24
3,725467,99999,2005,6,30,83.800003,5,71.599998,5.0,NaN,...,None,0.00,NaN,False,False,False,False,False,False,2005-6-30
4,725488,99999,2005,3,24,35.900002,6,26.200001,5.0,NaN,...,None,0.00,NaN,False,False,False,False,False,False,2005-3-24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
377779,725330,14827,2006,3,12,57.000000,24,53.400002,24.0,1014.500000,...,None,0.53,NaN,False,False,False,False,False,False,2006-3-12
377780,725390,14836,2006,2,22,28.600000,24,19.600000,24.0,1012.599976,...,None,0.00,1.2,False,False,False,False,False,False,2006-2-22
377781,725570,14943,2006,3,25,32.799999,24,26.200001,24.0,1029.300049,...,None,0.00,NaN,False,False,False,False,False,False,2006-3-25
377782,725500,14942,2006,3,21,30.700001,24,25.600000,24.0,1020.900024,...,None,0.34,7.1,True,True,True,True,True,True,2006-3-21
377783,725480,94910,2006,3,8,36.000000,24,34.200001,24.0,1006.900024,...,None,0.07,NaN,True,True,True,True,True,True,2006-3-8

### 2. Task 
From here want to work with the data from all stations 725300 to 725330 that have information from 2005 till 2009.

In [6]:
client = bigquery.Client()

query_str = """
SELECT 
*,
CONCAT(year,'-',month,'-',day) AS date,
FROM `bigquery-public-data.samples.gsod`
WHERE year between 2005 AND 2009
AND station_number between 725300 AND 725330
"""

df = client.query(query_str).to_dataframe()
display(df)

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,min_temperature_explicit,total_precipitation,snow_depth,fog,rain,snow,hail,thunder,tornado,date
0,725326,99999,2005,4,18,64.199997,24,46.900002,24.0,NaN,...,None,0.00,NaN,False,False,False,False,False,False,2005-4-18
1,725326,99999,2005,1,11,31.799999,24,28.600000,24.0,NaN,...,None,0.00,NaN,False,False,False,False,False,False,2005-1-11
2,725326,99999,2005,9,12,75.500000,24,60.099998,24.0,NaN,...,None,0.00,NaN,False,False,False,False,False,False,2005-9-12
3,725326,99999,2006,11,29,54.700001,21,50.200001,21.0,NaN,...,None,0.45,NaN,False,False,False,False,False,False,2006-11-29
4,725326,99999,2006,11,18,36.099998,24,28.600000,24.0,NaN,...,None,0.00,NaN,False,False,False,False,False,False,2006-11-18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18124,725330,14827,2005,2,25,27.900000,24,22.100000,24.0,1020.900024,...,None,0.00,NaN,True,True,True,True,True,True,2005-2-25
18125,725320,14842,2005,11,9,58.700001,24,46.700001,24.0,1012.000000,...,None,0.00,NaN,True,True,True,True,True,True,2005-11-9
18126,725330,14827,2005,8,26,72.800003,24,62.599998,24.0,1016.200012,...,None,0.06,NaN,True,True,True,True,True,True,2005-8-26
18127,725320,14842,2005,6,9,73.199997,24,65.599998,24.0,1010.599976,...,None,0.00,NaN,True,True,True,True,True,True,2005-6-9
18128,725300,94846,2006,3,12,50.799999,24,43.500000,24.0,1013.500000,...,None,0.06,NaN,False,False,False,False,False,False,2006-3-12

Do a first analysis of the remaining dataset, clean or drop data depending on how you see appropriate.

In [7]:
#Check data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18129 entries, 0 to 18128
Data columns (total 32 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   station_number                      18129 non-null  int64
 1   wban_number                         18129 non-null  int64
 2   year                                18129 non-null  int64
 3   month                               18129 non-null  int64
 4   day                                 18129 non-null  int64
 5   mean_temp                           18129 non-null  float64
 6   num_mean_temp_samples               18129 non-null  int64
 7   mean_dew_point                      18127 non-null  float64
 8   num_mean_dew_point_samples          18127 non-null  float64
 9   mean_sealevel_pressure              16291 non-null  float64
 10  num_mean_sealevel_pressure_samples  16291 non-null  float64
 11  mean_station_pressure               993 non-null    float64
 12  num_mean_station_pressure_samples   993 non-null    float64
 13  mean_visibility                     18126 non-null  float64
 14  num_mean_visibility_samples         18126 non-null  float64
 15  mean_wind_speed                     18124 non-null  float64
 16  num_mean_wind_speed_samples         18124 non-null  float64
 17  max_sustained_wind_speed            18119 non-null  float64
 18  max_gust_wind_speed                 11468 non-null  float64
 19  max_temperature                     18127 non-null  float64
 20  max_temperature_explicit            18127 non-null  object
 21  min_temperature                     0 non-null      float64
 22  min_temperature_explicit            0 non-null      object
 23  total_precipitation                 17938 non-null  float64
 24  snow_depth                          565 non-null    float64
 25  fog                                 18129 non-null  bool
 26  rain                                18129 non-null  bool
 27  snow                                18129 non-null  bool
 28  hail                                18129 non-null  bool
 29  thunder                             18129 non-null  bool
 30  tornado                             18129 non-null  bool
 31  date                                18129 non-null  object
dtypes: bool(6), float64(17), int64(6), object(3)
memory usage: 3.7+ MB

In [8]:
#Check data information
df.describe()

,station_number,wban_number,year,month,day,mean_temp,num_mean_temp_samples,mean_dew_point,num_mean_dew_point_samples,mean_sealevel_pressure,...,mean_visibility,num_mean_visibility_samples,mean_wind_speed,num_mean_wind_speed_samples,max_sustained_wind_speed,max_gust_wind_speed,max_temperature,min_temperature,total_precipitation,snow_depth
count,18129.000000,18129.000000,18129.000000,18129.000000,18129.000000,18129.000000,18129.000000,18127.000000,18127.000000,16291.000000,...,18126.000000,18126.000000,18124.000000,18124.000000,18119.000000,11468.000000,18127.000000,0.0,17938.000000,565.000000
mean,725316.962050,72766.474488,2007.001103,6.527884,15.721000,51.999636,23.574163,41.605108,23.553704,1016.937585,...,8.699388,23.565155,7.495834,23.528195,14.049412,23.153270,42.580692,NaN,0.095488,2.865133
std,8.979529,39561.090384,1.413667,3.451484,8.803705,19.392603,1.817230,18.494937,1.857548,6.920370,...,1.730177,1.829544,3.581758,1.928344,5.241219,6.382058,18.646582,NaN,0.279290,2.105886
min,725300.000000,3887.000000,2005.000000,1.000000,1.000000,-16.200001,4.000000,-23.500000,4.000000,985.299988,...,0.600000,4.000000,0.000000,4.000000,2.900000,11.100000,-34.599998,NaN,0.000000,1.200000
25%,725314.000000,14842.000000,2006.000000,4.000000,8.000000,36.299999,24.000000,27.500000,24.000000,1012.799988,...,7.900000,24.000000,4.800000,24.000000,9.900000,18.100000,28.400000,NaN,0.000000,1.200000
50%,725316.000000,99999.000000,2007.000000,7.000000,16.000000,53.799999,24.000000,42.599998,24.000000,1016.700012,...,9.500000,24.000000,7.000000,24.000000,13.000000,22.000000,44.099998,NaN,0.000000,2.000000
75%,725326.000000,99999.000000,2008.000000,10.000000,23.000000,69.099998,24.000000,57.200001,24.000000,1020.900024,...,10.000000,24.000000,9.600000,24.000000,16.900000,27.000000,57.900002,NaN,0.040000,3.900000
max,725330.000000,99999.000000,2009.000000,12.000000,31.000000,92.000000,24.000000,79.099998,24.000000,1044.199951,...,10.900000,24.000000,24.000000,24.000000,49.000000,63.900002,87.800003,NaN,9.990000,13.000000

In [9]:
#Delete the column of WBAN (Weather-Bureau-Army-Navy) station numbers from which the data was obtained
df = df.drop(columns=['wban_number'])

#Delete columns due to many missing values
df = df.drop(columns=['mean_station_pressure','max_gust_wind_speed'])

#Delete unrelated columns
df = df.drop(columns=['num_mean_temp_samples','num_mean_dew_point_samples','num_mean_sealevel_pressure_samples','num_mean_station_pressure_samples','num_mean_visibility_samples','num_mean_wind_speed_samples','max_temperature_explicit','min_temperature','min_temperature_explicit'])

#Missing values in the snow_depth column are complemented with 0
df = df.fillna({'snow_depth':0})

#Remove missing row mean_sealevel_pressure 
#Delete [725326]station because it is not snowing.
df = df.dropna(subset = ['mean_sealevel_pressure'])

#Replace TURE and False with 1 and 0
df = df.replace({True:1,False:0})

df["date"] = pd.to_datetime(df["date"])

df = df.sort_values(['station_number', 'date'])

In [10]:
#Assume that only data up to the previous day can be used for snow forecasting.
#This is because data from the day of the forecast cannot be used in tomorrow's snow forecast.

In [11]:
#Split data for each station_number
df_725300 = df[df['station_number']==725300]
df_725305 = df[df['station_number']==725305]
df_725314 = df[df['station_number']==725314]
df_725315 = df[df['station_number']==725315]
df_725316 = df[df['station_number']==725316]
df_725317 = df[df['station_number']==725317]
df_725320 = df[df['station_number']==725320]
df_725327 = df[df['station_number']==725327]
df_725330 = df[df['station_number']==725330]

#Create lag function column with snowfall after 2 days
df_725300['snowlag2'] = df_725300['snow'].shift(-2)
df_725305['snowlag2'] = df_725305['snow'].shift(-2)
df_725314['snowlag2'] = df_725314['snow'].shift(-2)
df_725315['snowlag2'] = df_725315['snow'].shift(-2)
df_725316['snowlag2'] = df_725316['snow'].shift(-2)
df_725317['snowlag2'] = df_725317['snow'].shift(-2)
df_725320['snowlag2'] = df_725320['snow'].shift(-2)
df_725327['snowlag2'] = df_725327['snow'].shift(-2)
df_725330['snowlag2'] = df_725330['snow'].shift(-2)

#Combine all of each station_number data
df2 = pd.concat([df_725300,df_725305,df_725314,df_725315,df_725316,df_725317,df_725320,df_725327,df_725330])

#Remove missing row
df2 = df2.dropna(subset = ['snowlag2'])

<ipython-input-11-67da8e8322f6>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_725300['snowlag2'] = df_725300['snow'].shift(-2)
<ipython-input-11-67da8e8322f6>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_725305['snowlag2'] = df_725305['snow'].shift(-2)
<ipython-input-11-67da8e8322f6>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_725314['snowlag2'] = df_725314['snow'].shift(-2)
<ipython-input-11-67da8e8322f6>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_725315['snowlag2'] = df_725315['snow'].shift(-2)
<ipython-input-11-67da8e8322f6>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_725316['snowlag2'] = df_725316['snow'].shift(-2)
<ipython-input-11-67da8e8322f6>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_725317['snowlag2'] = df_725317['snow'].shift(-2)
<ipython-input-11-67da8e8322f6>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_725320['snowlag2'] = df_725320['snow'].shift(-2)
<ipython-input-11-67da8e8322f6>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_725327['snowlag2'] = df_725327['snow'].shift(-2)
<ipython-input-11-67da8e8322f6>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_725330['snowlag2'] = df_725330['snow'].shift(-2)

In [12]:
#One-hot encoding of station_number column
df2['station_number'] = df2['station_number'].astype(str)
df2 = pd.get_dummies(df2,columns=['station_number'])

df2['year'] = df2['year'].astype(int)
df2['month'] = df2['month'].astype(int)
df2['day'] = df2['day'].astype(int)

df2 = df2.sort_values(['date'])

### 3. Task
Now it is time to split the data, into a training, evaluation and test set. As a reminder, the date we are trying to predict snow fall for is the following, and hence should constitute your test set.

In [13]:
import datetime as dt

str(dt.datetime.today()- dt.timedelta(days=13*365)).split(' ')[0]

'2009-07-22'

In [14]:
#One year of data up to 2 days prior to forecasting
test_dataset = df2[df2['date'] <= str(dt.datetime.today()- dt.timedelta(days=13*365+2)).split(' ')[0]]
test_dataset = test_dataset[str(dt.datetime.today()- dt.timedelta(days=14*365+2)).split(' ')[0] <  test_dataset['date']]

#Data prior to test data
train_dataset = df2[df2['date'] <= str(dt.datetime.today()- dt.timedelta(days=14*365+2)).split(' ')[0]]

In [15]:
# Split into two types of machine learning models, one for training and one for validation
X_train = train_dataset.drop(['date','snowlag2'], axis=1)  # Make explanatory variables only
y_train = train_dataset['snowlag2'] # Correct class

X_test = test_dataset.drop(['date','snowlag2'], axis=1) # Make explanatory variables only
y_test = test_dataset['snowlag2'] # Correct class

## Part 2
If you made it up to here all by yourself, you can use your prepared dataset to train an Algorithm of your choice to forecast whether it will snow on the following date for each station in this dataset:

In [16]:
import datetime as dt

str(dt.datetime.today()- dt.timedelta(days=13*365)).split(' ')[0]

'2009-07-22'

You are allowed to use any library you are comfortable with such as sklearn, tensorflow keras etc. 
If you did not manage to finish part one feel free to use the data provided in 'coding_challenge.csv' Note that this data does not represent a solution to Part 1.

In [17]:
import time
start = time.time()

#Cross-validation considering time series
tscv = TimeSeriesSplit()
tscv.split(X_train, y_train)

param_grid1 = {
    'num_leaves':[5,10,20,30,40],
    'max_depth':[5,10,15,20],
    'n_estimators':[10,25,50,100,200],
    'reg_lambda':[0, 0.001, 0.01, 0.1, 1]

}

#LightGBM is a machine learning framework for gradient boosting based on the decision tree algorithm.
# First adopted due to short model training time and high inference accuracy
lgb_estimator = lgb.LGBMClassifier(random_state=0)

#We want to evaluate False positive rate and Recall in a balanced manner, so 'roc_auc' is used.
gsearch1 = GridSearchCV(estimator=lgb_estimator, param_grid=param_grid1, cv=tscv, scoring = 'roc_auc')
lgb_model1 = gsearch1.fit(X=X_train, y=y_train)

# Display and maintain optimal parameters
best_params = lgb_model1.best_params_
best_score = lgb_model1.best_score_
print(f'Optimum Parameters {best_params}\nScore {best_score}')
print(f'Time{time.time() - start}sec')

Optimum Parameters {'max_depth': 15, 'n_estimators': 25, 'num_leaves': 20, 'reg_lambda': 1}
Score 0.599540017761656
Time998.9289879798889sec

In [18]:
#Test Result Output
preds = lgb_model1.predict_proba(X_test)
l = preds[:,1]

#After reviewing the predict data, we found that the threshold for the top 10% was 0.17 when ordered by probability of snow.
#0.17 was set as the threshold value.
l_replace = [1 if i > 0.17 else 0 for i in l]

In [19]:
#Test Data Evaluation Results
print('confusion_matrix:',confusion_matrix(y_test, l_replace) )
print('accuracy_score:',accuracy_score(y_test, l_replace))
print('precision_score:',precision_score(y_test, l_replace))
print('recall_score:',recall_score(y_test, l_replace))
print('f1_score:',f1_score(y_test, l_replace))

confusion_matrix: [[2629  318]
 [ 227  103]]
accuracy_score: 0.8336893500152579
precision_score: 0.24465558194774348
recall_score: 0.31212121212121213
f1_score: 0.27430093209054596

In [20]:
#predict whether it will snow tomorrow 13 years ago.
test_dataset2 = df2[df2['date'] == str(dt.datetime.today()- dt.timedelta(days=13*365+2)).split(' ')[0]]

X_test2 = test_dataset2.drop(['date','snowlag2'], axis=1)
y_test2 = test_dataset2['snowlag2']

In [21]:
preds2 = lgb_model1.predict_proba(X_test2)
l2 = preds2[:,1]
 
l_replace2 = [1 if i > 0.17 else 0 for i in l2]

test_dataset2['predict_snow']= l_replace2
test_dataset2

<ipython-input-21-dc7f135248ba>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_dataset2['predict_snow']= l_replace2

,year,month,day,mean_temp,mean_dew_point,mean_sealevel_pressure,mean_visibility,mean_wind_speed,max_sustained_wind_speed,max_temperature,...,station_number_725300,station_number_725305,station_number_725314,station_number_725315,station_number_725316,station_number_725317,station_number_725320,station_number_725327,station_number_725330,predict_snow
17209,2009,7,20,67.300003,56.400002,1018.799988,9.9,2.2,7.0,57.200001,...,0,0,0,0,1,0,0,0,0,0
13163,2009,7,20,66.900002,53.599998,1019.099976,9.8,3.1,8.9,53.599998,...,0,1,0,0,0,0,0,0,0,0
10296,2009,7,20,67.599998,56.500000,1018.799988,10.0,4.3,7.0,57.000000,...,0,0,0,0,0,1,0,0,0,0
16533,2009,7,20,70.400002,59.099998,1017.799988,9.2,3.1,8.9,55.400002,...,0,0,1,0,0,0,0,0,0,0
3793,2009,7,20,65.699997,54.000000,1019.500000,10.0,4.0,11.1,55.000000,...,1,0,0,0,0,0,0,0,0,0
629,2009,7,20,66.000000,53.700001,1018.900024,10.0,1.1,5.1,55.000000,...,0,0,0,0,0,0,1,0,0,0
6435,2009,7,20,65.699997,56.500000,1019.200012,10.0,4.0,8.0,55.400002,...,0,0,0,1,0,0,0,0,0,0
11848,2009,7,20,63.599998,54.000000,1019.900024,6.9,2.5,6.0,50.000000,...,0,0,0,0,0,0,0,1,0,0
4271,2009,7,20,64.800003,56.099998,1020.299988,9.6,2.0,8.0,52.000000,...,0,0,0,0,0,0,0,0,1,0

In [22]:
#Evaluation Results
print('confusion_matrix:',confusion_matrix(y_test2, l_replace2) )
print('accuracy_score:',accuracy_score(y_test2, l_replace2))
print('precision_score:',precision_score(y_test2, l_replace2))
print('recall_score:',recall_score(y_test2, l_replace2))
print('f1_score:',f1_score(y_test2, l_replace2))

confusion_matrix: [[9]]
accuracy_score: 1.0
precision_score: 0.0
recall_score: 0.0
f1_score: 0.0

C:\Users\AKIHIKO\Desktop\デスクトップ\02 自己学習\09Github\7Learnings Data Scientist Code Challenges\datascience\venv\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\AKIHIKO\Desktop\デスクトップ\02 自己学習\09Github\7Learnings Data Scientist Code Challenges\datascience\venv\lib\site-packages\sklearn\metrics\_classification.py:1327: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 due to no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\AKIHIKO\Desktop\デスクトップ\02 自己学習\09Github\7Learnings Data Scientist Code Challenges\datascience\venv\lib\site-packages\sklearn\metrics\_classification.py:1592: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no true nor predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, "true nor predicted", "F-score is", len(true_sum))